<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet our Partner Wandmakers</title>
    <link rel="shortcut icon" type="image/jpg" href="/favicon.ico"/>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="/stylesheets/warehouse.css">
    <!-- icon -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap" rel="stylesheet">
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <header>
        <%- include('header.ejs') %>
    </header>

    <!-- Actual page content! -->
    <div class="container ">
        <div class="section" id="crafterList">
            <h1 class="center card-panel blue-grey lighten-5">Meet our Associate Wandcrafters</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Based Out Of</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < crafter_display.length; i++) { %>
                        <tr>
                            <td><%= crafter_display[i].name %></td>
                            <td><%= crafter_display[i].country_name %></td>
                            <% // only appears if crafter is associated with you
                            if(user_info.oidc.user.email == crafter_display[i].addid) { %>
                                <td>
                                    <a class="btn-small waves-effect waves-light red darken-4" href="/crafters/<%= crafter_display[i].crafter_id %>/delete" style = "color:black">
                                        <i class="material-icons right">delete</i>
                                        Deleto
                                    </a>
                                </td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div class="section" id="craftersAdd">
            <h1 class="center card-panel blue-grey lighten-5">Bring in new crafter:</h1>
            <form method="post" action="/crafters"> 
                <div class="row">
                    <div class="input-field col s6">
                        <label for="coreInput">First Name:</label>
                        <input type="text" name="firstNameInput" id="firstNameInput" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="woodInput">Last Name:</label>
                        <input type="text" name="lastNameInput" id="lastNameInput" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s12 center-align">
                        <select id="countryInput" name="countryInput" required>
                            <option value="" disabled selected>Country of Practice:</option>
                            <% for (let i = 0; i < country_list.length; i++) { %>
                                <option value=<%=country_list[i].country_id %>><%= country_list[i].country_name %></option>
                            <% } %>
                        </select>
                        <label for="crafterInput">Country:</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light teal darken-4" type="submit">
                    Say Incantation
                    <i class="material-symbols-outlined right">
                        group_add
                    </i>
                </button>
            </form>
        </div>
    </div>
    <div class="center">
        <img src="/images/shop.jpg" alt="Ollivander's Shop Pic" title="Wands on Shelves" width='60%' height='80%'>
        <br>
        <a class="btn vertical-center teal darken-4" href="/">
            Back to Shop Front!
            <i class="material-symbols-outlined right">
                bolt
            </i>
        </a>
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
    <script src = "/autoinit.js"></script>
</body>

</html>