<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wand Details</title>
    <link rel="shortcut icon" type="image/jpg" href="/favicon.ico"/>

    <!-- fonts just in case -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap" rel="stylesheet">

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- bolt -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="/stylesheets/det.css">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <!-- Nav bar -->
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Ollivander's</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">location_city</i>storefront</a></li>
                    <li><a href="/inventory"><i class="material-icons left">dashboard</i>shelves</a></li>
                    <% if (isLoggedIn) { %>
                        <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                        <li><a href="/logout" class="btn teal darken-4 vertical-center">Logout</a></li>                        
                    <% } else { %>
                        <li><a href="/login" class="btn red darken-4 vertical-center">Login</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <ul id="mobile-nav" class="sidenav">
             <li><a href="/"><i class="material-icons left">location_city</i>storefront</a></li>
             <li><a href="/inventory"><i class="material-icons left">dashboard</i>shelves</a></li>
             <% if (isLoggedIn) { %>
                <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                <li><a href="/logout" class="btn teal darken-4 vertical-center">Logout</a></li>                        
            <% } else { %>
                <li><a href="/login" class="btn red darken-4 vertical-center">Login</a></li>
            <% } %>
        </ul>
    </header>

    <div class="container">
        <div class="section flow-text" id="stuffDetail">
            <div class="center row card-panel blue-grey lighten-5">
                <h1>Wand Details:</h1>

                <body>Remember that the wand chooses the wizard! 5 galleons each!</body>
            </div>

            <a class="btn-small waves-effect waves-light teal darken-4" href="/inventory">
                <i class="material-icons left">arrow_back</i>
                Return to Wands Shelf
            </a>
            <table>
                <tr>
                    <th>Core:</th>
                    <td><%= wand_info.core %></td>
                </tr>
                <tr>
                    <th>Wood:</th>
                    <td><%= wand_info.wood %></td>
                </tr>
                <tr>
                    <th>Length:</th>
                    <td><%= wand_info.length %></td>
                </tr>
                <tr>
                    <th>Flexibility:</th>
                    <td><%= wand_info.flexibility %></td>
                </tr>
                <tr>
                    <th>Crafter:</th>
                    <td><%= wand_info.name %></td>
                </tr>
                <tr>
                    <th>Notes: </th>
                    <td><%= wand_info.notes %></td>
                </tr>
            </table>
        </div>

        <div class="section" id="stuffControls">
            <a class="btn-small waves-effect waves-light left modal-trigger teal darken-4" href="#stuffEdit">
                <i class="material-icons right">brush</i>
                Info/Edit/Reparo
            </a>
            <a class="btn-small waves-effect waves-light red darken-4 right" href="/inventory/det/<%= wand_info.id %>/delete"  style = "color:black">
                <i class="material-icons right">delete</i>
                Deleto
            </a>
        </div>


        <div class="modal" id="stuffEdit">

            <div class="modal-content">

                <div class="section" id="stuffAdd">
                    <h2 class="card-panel blue-grey lighten-5">If the wand sees fit:</h2>
                    <form method="post" action="/inventory/det/<%= wand_info.id %>"> <!-- default action is the page's URL --> 
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="coreInput">Core:</label>
                                <input type="text" name="core" id="coreInput" class="validate" data-length="32" value="<%= wand_info.core %>"
                                    required>
                            </div>
                            <div class="input-field col s6">
                                <label for="woodInput">Wood</label>
                                <input type="text" name="wood" id="woodInput" class="validate" data-length="32" value="<%= wand_info.wood %>"
                                    required>
                            </div>
                            <div class="input-field col s6">
                                <label for="lengthInput">Length in Inches:</label>
                                <input type="number" name="length" id="lengthInput" value=9 value="<%= wand_info.length %>" required>
                                <!-- 9 inches is rather within the range of wand lengths in HP -->
                            </div>
                            <div class="input-field col s6">
                                <label for="flexInput">Flexibility:</label>
                                <input type="text" name="flex" id="flexInput" class="validate" data-length="32" value="<%= wand_info.flexibility %>"
                                    required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 center-align">
                                <select id="crafterInput" name="crafter" required>
                                    <option value="" disabled> Edit wandmaker </option>
                                    <% for (let i = 0; i < crafters_list.length; i++) { %>
                                        <option value=<%=crafters_list[i].crafter_id %> 
                                            <% if (wand_info.crafter_id == crafters_list[i].crafter_id) { %> selected <% } %> >
                                            <%= crafters_list[i].name %></option>
                                    <% } %>
                                </select>
                                <label for="crafterInput">Crafter:</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="notesInput">Notes:</label>
                                <input type="text" name="notes" id="notesInput" class="validate" data-length="32" value="<%= wand_info.notes %>"
                                    required>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn waves-effect waves-light" type="submit">
                                <!-- <i class="material-icons right">send</i> -->
                                Say Incantation
                                <i class="material-symbols-outlined right">
                                    bolt
                                </i>
                            </button>
                            <button class="modal-close waves-effect waves-green btn-flat"  style = "color:gray">
                                <i class="material-icons right">leak_remove</i>
                                Didn't mean to cast spell
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <br>
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
    <script src = "/autoinit.js"></script>
</body>

</html>