<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory of Wands</title>
    <link rel="shortcut icon" type="image/jpg" href="/favicon.ico"/>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="/stylesheets/warehouse.css">
    <!-- icon -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <!-- Actual page content! -->
    <div class="container ">
        <div class="section" id="stuffList">
            <h1 class="card-panel blue-grey lighten-5">Wands</h1>
            <table>
                <thead>
                    <tr>
                        <th>Core</th>
                        <th>Wood</th>
                        <th>Length</th>
                        <th>Flexibility</th>
                        <th>...</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < results.length; i++) { %>
                        <tr>
                            <td><%= results[i].core %></td>
                            <td><%= results[i].wood %></td>
                            <td><%= results[i].length %></td>
                            <td><%= results[i].flexibility %></td>
                            <td>
                                <a class="btn-small waves-effect waves-light" href=<%= "/inventory/det/" + results[i].id %>>
                                    <i class = "material-icons right">assistant</i>
                                    Info/Edit/Reparo
                                </a>
                                <a class="btn-small waves-effect waves-light red" style = "color:black">
                                    <i class="material-icons right">delete</i>
                                    Deleto
                                </a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div class="section" id="stuffAdd">
            <h2 class="card-panel blue-grey lighten-5">Shelve new wands:</h2>
            <form>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="coreInput">Core:</label>
                        <input type="text" name="core" id="coreInput" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="woodInput">Wood</label>
                        <input type="text" name="wood" id="woodInput" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="lengthInput">Length in Inches:</label>
                        <input type="number" name="length" id="lengthInput" value=9 required>
                        <!-- 9 inches is rather within the range of wand lengths in HP -->
                    </div>
                    <div class="input-field col s6">
                        <label for="flexInput">Flexibility:</label>
                        <input type="text" name="flex" id="flexInput" class="validate" data-length="32" required>
                    </div>
                </div>
                <div class = "row">
                    <div class="input-field col s12">
                        <label for="notesInput">Notes:</label>
                        <input type="text" name="notes" id="notesInput" class="validate" data-length="32" required>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit">
                    <!-- <i class="material-icons right">send</i> -->
                    Say Incantation
                    <i class="material-symbols-outlined right">
                        bolt
                    </i>
                </button>
            </form>
        </div>
    </div>
    <div class="center">
        <img src="/images/shop.jpg" alt="Ollivander's Shop Pic" title="Wands on Shelves" width='60%' height='80%'>
        <br>
        <a class="btn vertical-center" href="/">
            Back to Shop Front!
            <i class="material-symbols-outlined right">
                bolt
            </i>
        </a>
    </div>
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
    <script> M.AutoInit();</script>
</body>

</html>